:root{
    --skill-bar-length: 0%;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    background-color: #282A3A;
}

main{
    width: 75%;
    margin: 2rem;
    display: grid;
    grid-template-areas: 
    "secundary header"
    "secundary principal";
    grid-template-columns: 360px 1fr ;
}
/* area principal */
.principal{
    grid-area: principal;
}
/*area secundaria*/
.secundary{
    grid-area: secundary;
}

/*areas dentro del area principal*/
.header{
    grid-area: header;
} 
.section-rp{
    grid-area: rp;
}
.section-experience{
    grid-area: formation;
}
.section-sencundary{
    grid-area: section-secundary;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.header hr{
    width: 100vh;
}
img{
    width: 300px;
}

.section-sencundary{
    width: 100%;
    display: grid;
    align-content: space-around;
    justify-content: center;
}
.secundary{
    width: 100%;
    display: flex;
    background-color: #735F32;
}

.section-rp{
    text-transform: uppercase;
}
ul{
    list-style: none;
    padding: 0;
}
.imagen{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.section-sencundary article.profile{
   display: grid;
   justify-content: center;
   align-items: center;
   grid-gap: 10px;
}
.profile_button{
    display: flex;
    justify-content:center;
}
.section-sencundary article.contact ul li{
    color: #E6E2C3;
    display: flex;
    align-items: center;
    padding: 10px 0;
    font-weight: bold;
 }
 .section-sencundary article.skills ul li{
    color: #E6E2C3;
    display: flex;
    padding-bottom: 30px;
    font-weight: bold;
    position: relative;
 }
hr{
    width: 100%;
}
article h2{
    color: #E6E2C3;
    font-weight: bold;
    padding: 0;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.skill_item{
    position: absolute;
    top: 40px;

}

.skill_porcent,
.skill_porcent::after{
    position:relative;
    width: 175px;
    height: 10px;
    background-color: #888;
    border-radius: 1rem;
    overflow: hidden;
}
.skill_porcent::after{
    content: "";
    position:absolute;
    left: -175px;
    background-color:#227C70;
    transition: color 0.1s, background-color 0.5s ease-in-out;
    animation: skills-bar-fill 2s ease-in-out forwards;
}
.skill_porcent--70::after{
    --skill-bar-length:70%;
}
.skill_porcent--50::after{
    --skill-bar-length:50%;
}
.skill_porcent--45::after{
    --skill-bar-length:45%;
}
.skill_porcent--35::after{
    --skill-bar-length:35%;
}

@keyframes skills-bar-fill {
    to{
        transform: translateX(var(--skill-bar-length));
    }
}